
.treex-view-container {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
}

.treex-view-sentence .label {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  white-space: nowrap;
  vertical-align: top;
  background-color: #999;
}

.treeview-gfx {
  overflow: auto;
  min-height: 600px;
}

.highlight {
  background-color: yellow;
}

.mouse-highlight:hover {
  background-color: #ffa;
  cursor: pointer;
}

.treex-view-pane .node {
  cursor: pointer;
  user-select: none;
}